---
import { getCollection } from "astro:content";

import Card from "../components/card.astro";
import BaseLayout from "../layouts/baseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout title="Blog" description="All my blog posts.">
  <h1 class="mt-20 text-6xl font-bold">Blog</h1>
  <ul class="mt-10 flex flex-col gap-x-4 gap-y-8 sm:gap-x-6 xl:gap-x-8">
    {
      posts
        .filter((post) => post.data.draft !== true)
        .map((post) => (
          <li>
            <Card
              href={`/blog/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
              expectedReadTime={post.data.expectedReadTime}
            />
          </li>
        ))
    }
  </ul>
</BaseLayout>
