---
import Card from "../components/card.astro";
import BaseLayout from "../layouts/baseLayout.astro";
import type { PostFrontmatter } from "../types/post.domain";
import type { ProjectFrontmatter } from "../types/project.domain";

const posts = (await Astro.glob<PostFrontmatter>("./blog/*.{md,mdx}")).sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date),
);
const projects = (
  await Astro.glob<ProjectFrontmatter>("./projects/*.{md,mdx}")
).sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date),
);
---

<BaseLayout>
  <section class="mt-20 flex">
    <div class="w-full text-xl">
      <h1 class="mb-10 text-3xl">Hi 👋, I'm Néstor from Spain</h1>
      <p class="my-3">
        I'm a software engineer with passion for Typescript and Rust.
      </p>
      <p class="my-3">
        I currently work at <a
          class="text-light-blue-vivid-500 hover:underline"
          href="https://www.nexiona.com/"
          target="_blank">Nexiona</a
        > as a <b>fullstack engineer</b>. I also co-mantain the <a
          class="text-light-blue-vivid-500 hover:underline"
          href="https://create.t3.gg/"
          target="_blank">T3 Stack</a
        > and <a
          class="text-light-blue-vivid-500 hover:underline"
          href="https://trpc.io/"
          target="_blank">tRPC</a
        >.
      </p>
    </div>
  </section>
  <section>
    <div
      class="mt-28 mb-10 flex justify-between border-b-[1px] border-gray-500 pb-5"
    >
      <h2 class="self-baseline text-4xl">Latest posts</h2>
      <a
        href="/blog"
        class="self-baseline text-lg text-light-blue-vivid-500 hover:underline"
        >See all posts</a
      >
    </div>
    <ul
      class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 xl:gap-x-8"
    >
      {
        posts.slice(0, 6).map((post) => (
          <li>
            <Card
              href={post.url}
              title={post.frontmatter.title}
              image={post.frontmatter.image}
              date={post.frontmatter.date}
              expectedReadTime={post.frontmatter.expectedReadTime}
            />
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <div
      class="mt-20 mb-10 flex justify-between border-b-[1px] border-gray-500 pb-5"
    >
      <h2 class="self-baseline text-4xl">Latest Projects</h2>
      <a
        href="/projects"
        class="self-baseline text-lg text-light-blue-vivid-500 hover:underline"
        >See all projects</a
      >
    </div>
    <ul
      class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 xl:gap-x-8"
    >
      {
        projects.slice(0, 3).map((project) => (
          <li>
            <Card
              href={project.url}
              title={project.frontmatter.title}
              image={project.frontmatter.image}
              date={project.frontmatter.date}
            />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
