---
import { getCollection } from "astro:content";
import ContentCard from "../components/contentCard.astro";
import Search from "../components/search";
import BaseLayout from "../layouts/baseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects" description="All my projects.">
  <h1 class="mt-20 text-6xl font-bold">Projects</h1>

  <Search
    client:only="solid-js"
    placeholder="Search projects..."
    itemClass="project-item"
    containerId="projects-container"
  />

  <ul id="projects-container" class="flex flex-col gap-5">
    {
      projects
        .sort(
          (a, b) =>
            new Date(b.data.pubDate).valueOf() -
            new Date(a.data.pubDate).valueOf(),
        )
        .map((project) => (
          <li
            class="project-item"
            data-title={project.data.title.toLowerCase()}
            data-description={project.data.description.toLowerCase()}
            data-tags={project.data.tags?.join(" ").toLowerCase() || ""}
          >
            <ContentCard
              href={`/projects/${project.id}/`}
              title={project.data.title}
              description={project.data.description}
              date={project.data.pubDate}
              eyebrow="Project"
              tags={project.data.tags}
            />
          </li>
        ))
    }
  </ul>

  <div id="no-results" class="hidden py-12 text-center">
    <p class="text-lg text-neutral-600 dark:text-neutral-500">
      No results found
    </p>
  </div>
</BaseLayout>
