---
import dayjs from "dayjs";

interface Props {
  href: string;
  title: string;
  description: string;
  date: string;
  expectedReadTime: number;
}

const { href, title, description, date, expectedReadTime } = Astro.props;
const formatedDate = dayjs(date).format("MMMM DD, YYYY");
---

<div
  class="rounded-lg p-2 transition duration-200 ease-linear hover:-translate-y-2 hover:bg-light-blue-vivid-500/20"
>
  <a href={href}>
    <div class="flex flex-col gap-y-2">
      <h3 class="text-2xl font-bold text-light-blue-vivid-400">
        {title}
      </h3>
      <p class="text-black dark:text-slate-200">{description}</p>
      <span class="flex gap-x-4 text-slate-400">
        <span>{formatedDate}</span>
        {
          expectedReadTime > 0 && (
            <>
              <>
                <span>•</span>
                <span>
                  {"☕".repeat(expectedReadTime).substring(0, 5)}
                  {`${expectedReadTime.toString()} min read`}
                </span>
              </>
            </>
          )
        }
      </span>
    </div>
  </a>
</div>
