---
import type { MarkdownInstance } from "astro";
import dayjs from "dayjs";

import BaseLayout from "../../layouts/baseLayout.astro";
import type { ProjectFrontmatter } from "../../types/project.domain";

interface Props {
  currentProject: MarkdownInstance<ProjectFrontmatter>;
}

export async function getStaticPaths() {
  const allProjects = await Astro.glob<ProjectFrontmatter>(
    "../../content/projects/*.md",
  );

  return allProjects.map((project) => ({
    params: {
      project: project.frontmatter.slug,
    },
    props: {
      currentProject: allProjects.find(
        (p) => p.frontmatter.slug === project.frontmatter.slug,
      ),
    },
  }));
}

const { currentProject } = Astro.props;

const Content = currentProject.Content;

const formatedDate = dayjs(currentProject.frontmatter.date).format(
  "MMMM DD, YYYY",
);
---

<BaseLayout
  title={currentProject.frontmatter.title}
  ogImage={currentProject.frontmatter.image}
>
  <article
    class="prose prose-slate mt-20 max-w-none prose-a:text-light-blue-vivid-400 prose-a:no-underline hover:prose-a:underline dark:prose-invert lg:prose-xl"
  >
    <h1>{currentProject.frontmatter.title}</h1>
    <div class="flex justify-between">
      <span>
        {`${formatedDate} • ${currentProject.frontmatter.tags.join(", ")}`}
      </span>
      <a target="_blank" href={currentProject.frontmatter.source}>View source</a
      >
    </div>
    <img class="w-full object-cover" src={currentProject.frontmatter.image} />
    <Content />
  </article>
</BaseLayout>
