---
import dayjs from "dayjs";
import BaseLayout from "./baseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    expectedReadTime: number;
    image: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    revised_by?:
      | {
          name: string;
          link: string;
        }[]
      | undefined;
    tags: string[];
  };
}

const {
  frontmatter: {
    title,
    description,
    pubDate,
    expectedReadTime,
    image,
    revised_by,
  },
} = Astro.props;

const formatedDate = dayjs(pubDate).format("MMMM DD, YYYY");
---

<BaseLayout title={title} description={description} ogImage={image.src}>
  <div class="mt-10">
    <a
      href="/blog"
      class="text-cool-grey-800 dark:text-mono-100 inline-flex items-center gap-2 hover:underline"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m15 18-6-6 6-6"></path>
      </svg>
      Go Back
    </a>
  </div>
  <article
    class="prose prose-slate dark:prose-invert lg:prose-xl prose-a:text-cool-grey-800 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-mono-100 mt-6 max-w-none"
  >
    <h1 transition:name={title}>{title}</h1>
    <span>
      <time>{formatedDate}</time>
      •
      <span>
        {"☕".repeat(expectedReadTime).substring(0, 5)}
        {`${expectedReadTime.toString()} min read`}
      </span>
    </span>
    {
      revised_by ? (
        <>
          <br />
          <span>
            Revised by:
            {revised_by.map((r, index) => (
              <>
                <a href={r.link}>{r.name}</a>
                {index < revised_by.length - 1 ? ", " : ""}
              </>
            ))}
          </span>
        </>
      ) : null
    }

    <img class="w-full object-cover shadow-lg" src={image.src} alt={title} />
    <slot />
  </article>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="Nsttt/my-portfolio"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyOTM4NTk0Mjk="
    data-category="Comments"
    data-category-id="DIC_kwDOEYPwZc4CVJ8A"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</BaseLayout>
