---
import dayjs from "dayjs";

import BaseLayout from "./baseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    readingTime: string;
    image: string;
    tags: string[];
  };
}

const {
  content: { title, description, pubDate, readingTime, image },
} = Astro.props;

const formatedDate = dayjs(pubDate).format("MMMM DD, YYYY");
---

<BaseLayout title={title} description={description} ogImage={image}>
  <article
    class="prose prose-slate mt-20 max-w-none prose-a:text-light-blue-vivid-400 prose-a:no-underline hover:prose-a:underline dark:prose-invert lg:prose-xl"
  >
    <h1>{title}</h1>
    <span>
      <time>{formatedDate}</time>
      •
      <span>
        {"☕".repeat(parseInt(readingTime))}
        {readingTime}
      </span>
    </span>
    <img class="w-full object-cover shadow-lg" src={image} alt={title} />
    <slot />
  </article>
</BaseLayout>
