---
import dayjs from "dayjs";
import BaseLayout from "./baseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    expectedReadTime: number;
    image: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    revised_by?:
      | {
          name: string;
          link: string;
        }[]
      | undefined;
    tags: string[];
  };
}

const {
  frontmatter: {
    title,
    description,
    pubDate,
    expectedReadTime,
    image,
    revised_by,
  },
} = Astro.props;

const formatedDate = dayjs(pubDate).format("MMMM DD, YYYY");
---

<BaseLayout title={title} description={description} ogImage={image.src}>
  <article
    class="prose prose-slate mt-20 max-w-none dark:prose-invert lg:prose-xl prose-a:text-light-blue-vivid-400 prose-a:no-underline hover:prose-a:underline"
  >
    <h1 transition:name={title}>{title}</h1>
    <span>
      <time>{formatedDate}</time>
      •
      <span>
        {"☕".repeat(expectedReadTime).substring(0, 5)}
        {`${expectedReadTime.toString()} min read`}
      </span>
    </span>
    {
      revised_by ? (
        <>
          <br />
          <span>
            Revised by:
            {revised_by.map((r, index) => (
              <>
                <a href={r.link}>{r.name}</a>
                {index < revised_by.length - 1 ? ", " : ""}
              </>
            ))}
          </span>
        </>
      ) : null
    }

    <img class="w-full object-cover shadow-lg" src={image.src} alt={title} />
    <slot />
  </article>
</BaseLayout>
