---
import dayjs from "dayjs";
import BaseLayout from "./baseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    image: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    source: string;
    tags: string[];
  };
}

const {
  frontmatter: { title, description, pubDate, image, source },
} = Astro.props;

const formatedDate = dayjs(pubDate).format("MMMM DD, YYYY");
---

<BaseLayout title={title} description={description} ogImage={image.src}>
  <div class="mt-10">
    <a href="/projects" class="inline-flex items-center gap-2 text-cool-grey-800 hover:underline dark:text-mono-100">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"/>
      </svg>
      Go Back
    </a>
  </div>
  <article
    class="prose prose-slate mt-6 max-w-none dark:prose-invert lg:prose-xl prose-a:text-cool-grey-800 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-mono-100"
  >
    <h1>{title}</h1>
    <div class="flex justify-between">
      <span>
        <time>{formatedDate}</time>
      </span>
    </div>
    <img class="w-full object-cover shadow-lg" src={image.src} alt={title} />
    <a 
      target="_blank" 
      href={source}
      data-s:event="project_source_view"
      data-s:event-props={`title=${title}`}
    >View source</a>
    <slot />
  </article>
</BaseLayout>
