---
import dayjs from "dayjs";
import BaseLayout from "./baseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    place: string;
    lang: string;
    mainImage?: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    } | undefined;
    images?: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    }[] | undefined;
  };
}

const {
  frontmatter: { title, description, pubDate, images, mainImage, place, lang },
} = Astro.props;

const formatedDate = dayjs(pubDate).format("MMMM DD, YYYY");
---

<BaseLayout title={title} description={description} ogImage={mainImage ? mainImage.src : undefined}>
  <div class="mt-10">
    <a href="/talks" class="inline-flex items-center gap-2 text-cool-grey-800 hover:underline dark:text-mono-100">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"/>
      </svg>
      Go Back
    </a>
  </div>
  <article
    class="prose prose-slate mt-6 max-w-none dark:prose-invert lg:prose-xl prose-a:text-cool-grey-800 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-mono-100"
  >
    <h1>{title}</h1>
    <div class="flex justify-between">
      <span>
        <span>{place}</span>
        •
        <span>{lang}</span>
        •
        <time>{formatedDate}</time>
      </span>
    </div>
    <p>{description}</p>
    <slot />
    {mainImage && (
      <img
        class="w-full object-cover shadow-lg"
        src={mainImage.src}
        alt={title}
      />
    )}
    {
      images && images.map((image) => (
        <img
          class="w-full object-cover shadow-lg"
          src={image.src}
          alt={title}
        />
      ))
    }
  </article>
</BaseLayout>
